Repository hmcts/lau-case-backend, pull requests merged in 2021-11, with the labels that each got.

#37 API-Docs-Erros
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/config/SwaggerConfiguration.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-37

#36 Lau 162
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/bdd/CaseSearchPostSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/helper/CaseSearchPostHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/helper/RestHelper.java
  src/integrationTest/resources/features/post_case_search.feature
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchService.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/utils/InputParamsVerifier.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifier.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseSearchAuditRepositoryCaseRefTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseSearchAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifierTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-36

#38 LAU-195: Minor change to log_timestamp and updating authorised services.
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/constants/RegexConstants.java
  src/main/resources/application.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-38

#39 LAU-89: More audit suppressions.
  audit.json
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-39

#40 LAU-1234: Update to sync to new environments
  Jenkinsfile_CNP
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-40

#41 Add ServiceAuthorization header to the API's for Swagger.
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/constants/CommonConstants.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseActionController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseSearchController.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseActionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseSearchControllerTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-41

#42 LAU-196 Swagger documentation for the Service Authorisation fields
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseActionController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseSearchController.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-42
