Repository hmcts/lau-case-backend, pull requests merged in 2021-12, with the labels that each got.

#43 Lau 144
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/lau-case-backend/Chart.yaml
  charts/lau-case-backend/values.preview.template.yaml
  charts/lau-case-backend/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/config/EnvConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/helper/AuthorizationHeaderHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/runner/CaseActionApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/runner/CaseSearchApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/steps/BaseSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/steps/CaseActionGetApiSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/steps/CaseSearchGetApiSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/utils/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/bdd/AbstractSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/bdd/CaseActionGetSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/bdd/CommonSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/helper/RestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/helper/RestHelper.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/features/get_case_action.feature
  src/integrationTest/resources/features/get_case_search.feature
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/authorization/AuthService.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/authorization/AuthorisedServices.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/authorization/AuthorizationAuthenticator.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/authorization/RestApiPreInvokeInterceptor.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/authorization/ServiceAuthorizationAuthenticator.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/config/AuthServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/constants/CommonConstants.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/exceptions/InvalidAuthorizationException.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/exceptions/InvalidServiceAuthorizationException.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/authorization/AuthServiceTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/authorization/AuthorisedServicesTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/authorization/AuthorizationAuthenticatorTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/authorization/ServiceAuthorizationAuthenticatorTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/handlers/RestApiPreInvokeInterceptorTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-43

#46 LAU-223: Disable Fortify
  Jenkinsfile_nightly
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-46

#47 LAU-226: Upgrade Log4j to 2.15.0
  build.gradle
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-47

#45 LAU-208 Update BE to allow latest FE changes
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/model/CaseActionResponseVO.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/model/CaseSearchGetResponseVO.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/response/CaseActionGetResponse.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/response/CaseSearchGetResponse.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseActionService.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchService.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseActionAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseSearchAuditRepositoryTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-45

#44 LAU-185-Swagger-Infrastructure
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseActionController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseSearchController.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseActionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseSearchControllerTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-44

#48 LAU-220 Fix case sensitivity in Case Audit/IdAM search page.
  charts/lau-case-backend/values.preview.template.yaml
  src/integrationTest/resources/features/get_case_action.feature
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseActionAuditRepository.java
  src/main/resources/db/migration/V002__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-48

#49 LAU-185 fixed spelling and added 401 response code
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/runner/CaseSearchApiTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseActionController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseSearchController.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseActionAuditRepositoryStartEndTimeTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseActionAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseSearchAuditRepositoryCaseRefTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseSearchAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/RemoveColumnTransformers.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-49
