Repository hmcts/lau-case-backend, pull requests merged in 2022-02, with the labels that each got.

#65 Optimise lau-case queries.
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/steps/CaseActionGetApiSteps.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/authorization/RestApiPreInvokeInterceptor.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseSearchController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/domain/CaseSearchAudit.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseActionAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseSearchAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseActionService.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchService.java
  src/main/resources/db/migration/V004__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-65

#67 LAU-258 Optimise lau-case backend.
  charts/lau-case-backend/values.preview.template.yaml
  src/main/resources/db/migration/V005__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-67

#68 LAU-258: Remove duplcate indexes
  src/main/resources/db/migration/V006__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-68

#70 LAU-258: LAU Case Backend Performance Update
  build.gradle
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/helper/CaseSearchGetHelper.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/domain/CaseSearchAudit.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/dto/SearchLog.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseActionAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseSearchAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/response/SearchLogPostResponse.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseActionService.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchService.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/utils/CaseSearchHelper.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/utils/InputParamsVerifier.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V007__Schema.sql
  src/main/resources/h2/V003__Schema.sql
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseActionAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseSearchAuditRepositoryCaseRefTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseSearchAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/response/SearchLogTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseActionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifierTest.java
  src/test/resources/application.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-70

#71 Fix null case ref
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/utils/CaseSearchHelper.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-71

#72 LAU-258 Change max page size to 10,000
  build.gradle
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseActionAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseSearchAuditRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseActionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchServiceTest.java
  src/test/resources/application.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-72

#66 Lau 264 reenable fortify
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-66

#73 LAU 290
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/utils/InputParamsVerifier.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-73

#74 Improve POST exception logs.
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifier.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifierTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-74

#76 LAU-305: Updated to remove case ref and type id.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/domain/CaseActionAudit.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifier.java
  src/main/resources/db/migration/V008__Schema.sql
  src/main/resources/h2/V004__Schema.sql
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/RemoveColumnTransformers.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifierTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-76

#78 Fix flakey casesearch test and upgrade java charts version.
  charts/lau-case-backend/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/utils/CaseSearchHelper.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-78

#79 LAU-307: Testing migration with env value.
  Jenkinsfile_CNP
  build.gradle
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V009__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-79

#81 Lau 307 db parameter fix
  Jenkinsfile_CNP
  build.gradle
  charts/lau-case-backend/values.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V009__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-81

#83 Lau 320 fix database db user parameter
  Jenkinsfile_CNP
  build.gradle
  charts/lau-case-backend/Chart.yaml
  charts/lau-case-backend/values.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V009__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-83

#85 LAU-311: Update charts version
  charts/lau-case-backend/Chart.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-85

#84 Update caseRef generator not generate caseRefs with leading zero
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseActionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseSearchControllerTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/ActionInputParamsVerifierGetExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/ActionInputParamsVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/InputParamsVerifierPostExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/SearchInputParamsVerifierGetExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/SearchInputParamsVerifierTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-84
