Repository hmcts/lau-case-backend, pull requests merged in 2022-01, with the labels that each got.

#51 LAU-230 Auto generation of swagger docs
  .travis.yml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-51

#52 LAU-230 testing swagger auto doc generation
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/config/SwaggerConfiguration.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-52

#55 LAU-230 swagger auto generation test
  .travis.yml
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/config/SwaggerPublisherTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-55

#54 LAU-232 Update existing LAU POST endpoints to return the DB unique id.
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/runner/CaseSearchApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/bdd/CaseActionPostSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/bdd/CaseSearchPostSteps.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseSearchController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/response/CaseSearchPostResponse.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/response/SearchLogPostResponse.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchService.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseSearchControllerTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchServiceTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-54

#50 LAU-227 Update S2S Authorised Services [***DO NOT MERGE***]
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/utils/TestConstants.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/bdd/AbstractSteps.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-50

#57 LAU-230 swagger auto generation test
  .github/workflows/swagger.yml
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/config/SwaggerGeneratorTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-57

#59 LAU 230 swagger auto generation test
  .github/workflows/swagger.yml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-59

#60 LAU-237 Move Idam username and password to Azure vault
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/config/EnvConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/helper/AuthorizationHeaderHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/utils/TestConstants.java
  src/main/resources/bootstrap.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-60

#58 LAU-233 Create DELETE caseSearch endpoint.
  charts/lau-case-backend/Chart.yaml
  charts/lau-case-backend/values.aat.template.yaml
  charts/lau-case-backend/values.preview.template.yaml
  charts/lau-case-backend/values.yaml
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/bdd/CaseSearchDeleteSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/helper/CaseSearchPostHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/helper/RestHelper.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/features/delete_case_search.feature
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/authorization/RestApiPreInvokeDeleteInterceptor.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/authorization/RestApiPreInvokeInterceptor.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/config/RestApiPreInvokeConfiguration.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/constants/CommonConstants.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/DeleteController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchService.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifier.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/authorization/RestApiPreInvokeDeleteInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/config/SwaggerGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/controllers/DeleteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/handlers/RestApiPreInvokeConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseSearchAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifierTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-58

#63 LAU-259 AAT CCD Case View Audit events without jurisdiction causing errors
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/bdd/CaseActionPostSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/cases/helper/CaseActionPostHelper.java
  src/integrationTest/resources/features/post_case_action.feature
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/domain/CaseActionAudit.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifier.java
  src/main/resources/db/migration/V003__Schema.sql
  src/main/resources/h2/V002__Schema.sql
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/repository/CaseActionAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/cases/utils/NotEmptyInputParamsVerifierTest.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-63

#64 Add logging for performance testing issues.
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/authorization/RestApiPreInvokeInterceptor.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/controllers/CaseSearchController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/cases/service/CaseSearchService.java
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-64
