Repository hmcts/lau-case-backend, pull requests merged in 2022-08, with the labels that each got.

#109 LAU-481 removing config properties
  src/main/resources/bootstrap.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-109

#110 LAU-481 fortify scan fix
  build.gradle
  charts/lau-case-backend/Chart.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-110

#111 Lau-481 removing bootstrap.yml
  build.gradle
  charts/lau-case-backend/Chart.yaml
  charts/lau-case-backend/values.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-111

#112 LAU-481 adding secreats in Jenkins
  Jenkinsfile_CNP
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-112

#113 LAU-481 referencing properties
  charts/lau-case-backend/Chart.yaml
  charts/lau-case-backend/values.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-113

#114 LAU-481: Fix nightly build.
  Jenkinsfile_CNP
  charts/lau-case-backend/Chart.yaml
  charts/lau-case-backend/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-114

#117 Lau 481 revert to old master
  Jenkinsfile_CNP
  build.gradle
  charts/lau-case-backend/Chart.yaml
  charts/lau-case-backend/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-117

#118 LAU-490: Upgrade postgres library.
  build.gradle
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-118

#119 Add backstage configuration file
  catalog-info.yaml
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-119

#120 LAU-488 pact libraries removal
  build.gradle
Labels: ns:lau, prd:lau, rel:lau-case-backend-pr-120
