Repository hmcts/lau-case-backend, pull requests merged in 2023-11, with the labels that each got.

#430 LAU-803 increase size for postgres flexible server
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: prd:lau, ns:lau, no-changes, rel:lau-case-backend-pr-430

#431 LAU-802 remove dependabot
  .github/dependabot.yml
Labels: prd:lau, ns:lau, rel:lau-case-backend-pr-431

#452 Add read user for postgres flexible [*** MERGE ONLY AFTER FLEXIBLE SERVER MIGRATION TONIGHT ***]
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/runner/CaseActionApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/runner/CaseSearchApiTest.java
Labels: prd:lau, ns:lau, destroy, rel:lau-case-backend-pr-452

#455 Enable functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/runner/CaseActionApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/cases/serenityfunctionaltests/runner/CaseSearchApiTest.java
Labels: prd:lau, ns:lau, rel:lau-case-backend-pr-455
